body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* Section 1 */

.intro_head {
    background-color: #44433e;
    max-width: 1900px;
    width: 100%;
}

.logo_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 26px 0px 26px 0px;
}

.logo_hd {
    margin-left: 15px;
}

.logo_text {
    margin-left: 15px;
}

.head_sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    align-items: center;
}

.nav_link {
    margin-right: 27px;
    text-decoration: none;
}

.navbar-collapse {
    justify-content: flex-end;
}

.bg-header {
    background-color: #44433e;
}

.nav-link {
    font-size: 10px;
    color: #b8b8b8;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.logo_text {
    color: #ffffff;
    font-size: 30px;
}

.logo_text1 {
    color: #18cfab;
    font-size: 30px;
}

.navbar-dark .navbar-toggler {
    color: #b8b8b8;
    border-color: #b8b8b8;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #18cfab;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 1px solid #18cfab;
}

@media (min-width: 992px) {
    .navbar {
        padding: 0;
    }
    .navbar-nav {
        align-items: center;
    }
    .nav-item {
        line-height: 120PX;
    }
}

/* Section 2 HOME */

.intro_home {
    background-color: #3c3c3c;
    max-width: 1900px;
    width: 100%;
}

.text_home1 {
    color: white;
    line-height: 1.5em;
    font-size: 35px;
}

.text_home2 {
    font-size: 79px;
    color: white;
    line-height: 1.5em;
}

.text_home3 {
    font-size: 34px;
    color: #d4d4d4;
    line-height: 1.5em;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 892px;
}

.home_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn_home {
    display: flex;
    justify-content: center;
    margin-top: 144px;
}

.btn_explore {
    margin-right: 13px;
    background: #18cfab;
    height: 60px;
    max-width: 166px;
    width: 100%;
    color: white;
}

.btn_purchase {
    height: 60px;
    max-width: 166px;
    width: 100%;
    margin-left: 13px;
    background: #00cbf6;
    color: white;
}

/* Section 3 option */

.option {
    max-width: 1900px;
    width: 100%;
}

.forms {
 display: flex;
 flex-direction: row;
}

.form {
    display: flex;
    max-width: 480px; 
    height: 378px;
    width: 100%;
    background-color: #1c2a33;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 7px solid #18cfab;
}

#form1 {
    background-color: #18cfab;
    border-top: 7px solid white;
}

.form_text {
    text-transform: uppercase;
    color:#18cfab;
    margin: 44px 0 0 0;
    font-size: 20px;
}

.form_text1 {
    text-transform: uppercase;
    color:white;
    margin: 57px 0 0 0;
    font-size: 20px;
}

.col_first {
    max-width: 327px;
    line-height: 1.6em;
    margin-left: 60px;
}

.text_col {
    font-size: 14px;
    margin-top: 10px;
}

.text_col1 {
    font-size: 18px;
}

.text_col2 {
    font-size: 36px;
    margin: 105px 0 102px 0;
}


.features {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
}

.features_icon {
    max-width: 31px;
    margin-bottom: 6px;
    margin-right: 10px;
}

@media (max-width: 992px) {
    .icon_item {
        width: 100%;
        height: auto;
    }
    .forms {
        flex-wrap: wrap;
    }
    .form {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .features {
        flex-direction: column;
        margin-top: 0px;
    }
    .col_first {
        max-width: 100%;
        margin-left: 0px;
    }
    .text_col2 {
        margin: 66px 0 55px 0;
    }
}

/* Section 4 About Company */

.intro_about {
    max-width: 1900px;
    width: 100%;
    background: url(../images/intro.jpg) no-repeat center;
    background-size: cover;
    margin-top: 86px;
}

.title_about {
    color: white;
    padding-top: 91px;
    font-size: 36px;
}

.sub_title_about {
    font-size: 16px;
    color: white;
    margin-top: 74px;
    margin-bottom: 65px;
}

.sub_about {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid grey;
    margin-bottom: 10px;
    background-color: transparent;
    height: 39px;
}
.bg-success {
    background-color: #9c5da5 !important;
}

.progress-bar {
    border-radius: 0.2em; 
}

.bg-warning {
    background-color: #d67f7f !important;
}

.bg-danger {
    background-color: #20bc9d !important;
}

.bg-danger1 {
    background-color: #bb8a36 !important;
}

.progress-bar-text {
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
    align-items: center;
}

p.progress-bar-text {
    margin: 0px;
    margin-left: 10px;
}

/* Section 5 */

.btn-section:hover {
    border-top: 1px solid #18cfab;
}


.btn-section {
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    color:#717171;
    width: 100%;
    min-width: 135px;
    height: auto;
}

.btn-section-block {
    margin-top: 52px;
}

.about-work-title {
    margin-top: 85px;
}