body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* Section 1 */

.intro_head {
    background-color: #44433e;
    max-width: 3840px;
    width: 100%;
}

.logo_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 26px 0px 26px 0px;
}

.logo_hd {
    margin-left: 15px;
}

.logo_text {
    margin-left: 15px;
}

.head_sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    align-items: center;
}

.nav_link {
    margin-right: 27px;
    text-decoration: none;
}

.navbar-collapse {
    justify-content: flex-end;
}

.bg-header {
    background-color: #44433e;
}

.nav-link {
    font-size: 10px;
    color: #b8b8b8;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.logo_text {
    color: #ffffff;
    font-size: 30px;
}

.logo_text1 {
    color: #18cfab;
    font-size: 30px;
}

.navbar-dark .navbar-toggler {
    color: #b8b8b8;
    border-color: #b8b8b8;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #18cfab;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 1px solid #18cfab;
}

@media (min-width: 992px) {
    .navbar {
        padding: 0;
    }
    .navbar-nav {
        align-items: center;
    }
    .nav-item {
        line-height: 120PX;
    }
}

/* Section 2 HOME */

.intro_home {
    background-color: #3c3c3c;
    max-width: 1900px;
    width: 100%;
}

.text_home1 {
    color: white;
    line-height: 1.5em;
    font-size: 35px;
}

.text_home2 {
    font-size: 79px;
    color: white;
    line-height: 1.5em;
}

.text_home3 {
    font-size: 34px;
    color: #d4d4d4;
    line-height: 1.5em;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 892px;
}

.home_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn_home {
    display: flex;
    justify-content: center;
    margin-top: 144px;
}

.btn_explore {
    margin-right: 13px;
    background: #18cfab;
    height: 60px;
    max-width: 166px;
    width: 100%;
    color: white;
}

.btn_purchase {
    height: 60px;
    max-width: 166px;
    width: 100%;
    margin-left: 13px;
    background: #00cbf6;
    color: white;
}

/* Section 3 option */

.option {
    max-width: 1900px;
    width: 100%;
}

.forms {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    max-width: 480px;
    height: 378px;
    width: 100%;
    background-color: #1c2a33;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 7px solid #18cfab;
}

#form1 {
    background-color: #18cfab;
    border-top: 7px solid white;
}

.form_text {
    text-transform: uppercase;
    color: #18cfab;
    margin: 44px 0 0 0;
    font-size: 20px;
}

.form_text1 {
    text-transform: uppercase;
    color: white;
    margin: 57px 0 0 0;
    font-size: 20px;
}

.col_first {
    max-width: 327px;
    line-height: 1.6em;
    margin-left: 60px;
}

.text_col {
    font-size: 14px;
    margin-top: 10px;
}

.text_col1 {
    font-size: 18px;
}

.text_col2 {
    font-size: 36px;
    margin: 105px 0 102px 0;
}

.features {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
}

.features_icon {
    max-width: 31px;
    margin-bottom: 6px;
    margin-right: 10px;
}

@media (max-width: 992px) {
    .icon_item {
        width: 100%;
        height: auto;
    }
    .forms {
        flex-wrap: wrap;
    }
    .form {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .features {
        flex-direction: column;
        margin-top: 0px;
    }
    .col_first {
        max-width: 100%;
        margin-left: 0px;
    }
    .text_col2 {
        margin: 66px 0 55px 0;
    }
}

/* Section 4 About Company */

.intro_about {
    max-width: 1900px;
    width: 100%;
    background: url(../images/intro.jpg) no-repeat center;
    background-size: cover;
    margin-top: 86px;
}

.title_about {
    color: white;
    padding-top: 91px;
    font-size: 36px;
}

.sub_title_about {
    font-size: 16px;
    color: white;
    margin-top: 74px;
    margin-bottom: 65px;
}

.sub_about {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid grey;
    margin-bottom: 10px;
    background-color: transparent;
    height: 39px;
}

.bg-success {
    background-color: #9c5da5 !important;
}

.progress-bar {
    border-radius: 0.2em;
}

.bg-warning {
    background-color: #d67f7f !important;
}

.bg-danger {
    background-color: #20bc9d !important;
}

.bg-danger1 {
    background-color: #bb8a36 !important;
}

.progress-bar-text {
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
    align-items: center;
}

p.progress-bar-text {
    margin: 0px;
    margin-left: 10px;
}

/* Section 5 */

.btn-section:hover {
    border-top: 1px solid #18cfab;
}

.btn-section {
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    color: #717171;
    width: 100%;
    min-width: 135px;
    height: auto;
}

.btn-section-block {
    margin-top: 52px;
}

.about-work-title {
    margin-top: 85px;
}

.img_block {
    width: 21%;
}

.work_icon {
    width: 31px;
    margin-top: 56px;
}

.title-text-creative {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.title-text-creative1 {
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.creative-block {
    margin-left: 10px;
}

.work-img {
    width: 100%;
    max-width: 216px;
}

.imagetiles .col-lg-3.col-md-3.col-sm-3.col-xs-6 {
    padding: 0px;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.text-title {
    margin: 100px 0 100px 0;
    font-size: 36px;
}

.btn-sec {
    margin: 0px 0 75px 0;
}

.img-icon {
    margin: 0 0 0 0;
}

.text-creative {
    align-items: center;
}

.btn-work {
    border-radius: 0em;
    color: #717171;
    background-color: white;
    border: 1px solid #ebebeb;
    padding: 13px 0px 13px 0px;
    font-size: 14px;
}

.btn-work:hover {
    color: #18cfab;
    border: 1px solid #ebebeb;
    background-color: white;
    border-top: 1px solid #18cfab;
}

.title-creative {
    color: #18cfab;
    font-size: 14px;
    margin-top: 22px;
}

.text-creative {
    color: #717171;
    font-size: 14px;
}

.img-block {
    margin-top: 46px;
}

.btn-load {
    background-color: #18cfab;
    border-color: #18cfab;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    margin-top: 50px;
    margin-left: 19px;
    margin-bottom: 66px;
}

.img-btn-load {
    width: 12%;
    padding: 0px 0px 4px 0px;
}

.btn-load:hover {
    background-color: #18cfab;
    border-color: #18cfab;
}

/*SEC6*/

.intro-sec6 {
    max-width: 1900px;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #e1e1e1;
}

.btn-work1:hover {
    background-color: #18cfab;
    border: none;
}

.btn-work1 {
    border-radius: 0em;
    color: #717171;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    padding: 13px 0px 13px 0px;
    font-size: 14px;
    width: 100%;
    max-width: 120px;
}

.btn-work1:hover .arrow-btn {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    border-bottom: 10px solid #18cfab;
    position: absolute;
    left: 45px;
    top: 47px;
    transform: rotate(180deg);
}

.btn-sec1 {
    margin-top: 77px;
    display: flex;
    justify-content: center;
}

.title-services {
    color: #0a0a0a;
    font-size: 36px;
    margin-top: 84px;
}

.img-responsive1 {
    width: 217px;
}

.block-sec6 {
    margin-top: 35px;
    margin-bottom: 34px;
    display: flex;
    flex-direction: row;
}

.text-sec6 {
    margin-left: 26px;
}

/*SEC7*/

.intro-sec7 {
    background-color: #40474b;
    max-width: 1900px;
    width: 100%;
}

.everything {
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_purchase2 {
    height: 60px;
    max-width: 166px;
    width: 100%;
    background-color: #18cfab;
    margin-top: 79px;
}

.title-everything {
    font-size: 40px;
    color: #18cfab;
    margin-top: 10px;
}

.text-everything {
    font-size: 16px;
    color: white;
    margin-top: 16px;
}

/*SEC8*/

.intro-sec8 {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 253px;
    width: 100%;
    border-radius: 0em;
    width: 18em;
    margin-left: 25px;
    margin-top: 28px;
    position: relative;
}

.title-news {
    margin-top: 100px;
    margin-bottom: 65px;
}

.block-calendar {
    background-color: #203e38;
    width: 67px;
    height: 66px;
    position: absolute;
    left: 183px;
    max-width: 100%;
}

.card__calendar {
    font-size: 16px;
    color: white;
    width: 48px;
    position: absolute;
    top: 7px;
    left: 9px;
    line-height: 1.5em;
}

.card-body {
    background-color: #f8fcfe;
}

.card:hover .block-calendar {
    background-color: #18cfab;
}

.card:hover .card__title {
    color: #18cfab;
}

/*SEC9*/

.fanfacts {
    max-width: 1900px;
    width: 100%;
}

.fanfacts-row {
    display: flex;
    flex-direction: row;
}

.fanfacts__card {
    background-color: #25333c;
    width: 100%;
    max-width: 480px;
    border-top: 7px solid #18cfab;
}

.fanfacts__numer {
    font-size: 36px;
    color: white;
    margin-top: 18px;
}

.fanfacts__text {
    font-size: 18px;
    color: #18cfab;
    margin-bottom: 52px;
    margin-top: 16px;
}

.fanfacts__text1 {
    font-size: 18px;
    color: #070707;
    margin-bottom: 52px;
    margin-top: 16px;
}

.fanfacts-icon {
    width: 100%;
    max-width: 167px;
}

.fanfacts__img {
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

#fanfacts__card__bg {
    background-color: #18cfab;
    border-top: 7px solid #25333c;
}

/*SEC10 pricing */

.pricing_title {
    font-size: 36px;
    margin: 72px 0 112px 0px;
}

.pricing__card {
    background-color: #f8fcfe;
    border: 1px solid #e8eaea;
    margin: 0 1px 0 0px;
    width: 100%;
    max-width: 276px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin-bottom: 10px;
}

.pricing__personal {
    position: relative;
    overflow: hidden;
}

.pricing_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

.pricing__price {
    border: 1px solid #e8eaea;
    text-align: center;
    font-size: 40px;
    padding: 26px 85px;
    background-color: #2e4a5b;
    color: white;
}

.personal__title {
    font-size: 24px;
    padding: 20px 0 16px 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #717171;
}

.pricing__list__item {
    border: 1px solid #e8eaea;
    font-size: 14px;
    color: #777777;
    padding: 16px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pricing__list__item:first-child {
    border-top: 1px solid #e8eaea;
}

.pricing__price2 {
    color: white;
    font-size: 14px;
}

.pricing__list {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    text-align: center;
    padding-top: 8px;
}

.btn__pricing {
    width: 100%;
    max-width: 171px;
    background-color: #2e4a5b;
    color: white;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 19px;
}

.pricing__card:hover .btn__pricing {
    background-color: #18cfab;
}

.pricing__card:hover .personal__title {
    color: #18cfab;
}

.pricing__card:hover .pricing__price {
    background-color: #18cfab;
}

.pricing__card:hover {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.pricing__card:hover .prise-green {
    background-color: #18cfab;
}

.ribon__title {
    font-size: 15px;
}

.price_ribon {
    width: 143px;
    padding: 3px;
    position: absolute;
    text-align: center;
    color: #f0f0f0;
    left: 180px;
    top: 11px;
}

.prise-green {
    background-color: #2e4a5b;
    transform: rotate(45deg);
}

/*SEC10 info-ham */

.intro-info-ham {
    background-color: #2e404d;
    max-width: 1900px;
    width: 100%;
}

.info-ham__title {
    font-size: 36px;
    color: white;
    padding: 93px 0;
}

.info-ham__discription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info-ham-img {
    width: 100%;
    max-width: 48px;
}

.info-ham__text {
    color: #bbbbbb;
    margin-top: 40px;
    width: 100%;
    max-width: 1050px;
    text-align: center;
}

.info-ham__card-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-ham__card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-ham__card-image-block {
    border: 2px solid #2fc27d;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    position: relative;
    margin-bottom: 40px;
}

.info-ham-img1 {
    border-radius: 50%;
    position: absolute;
    left: -33px;
    max-width: 206px;
}

.info-ham__card-image-block:hover {
    box-shadow: 1px 0px 6px 7px rgb(125 250 208 / 20%);
}

.info-ham__card {
    border: 2px solid #2b5f62;
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: 30px;
}

.info-ham-img2 {
    border-radius: 50%;
    position: absolute;
    left: -23px;
    max-width: 88px;
}

.info-ham__name {
    font-size: 16px;
    color: #18cfab;
    font-weight: bold;
    margin-top: 36px;
}

.info-ham__job {
    font-size: 13px;
    color: white;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 25px;
}
    
.info-ham__row-group-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 100px;
}


/*SEC11 team */

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-row {
    display: flex;
    margin-bottom: 102px;
}

    
.team_title {
    font-size: 36px;
    color: black;
    margin: 86px 0 110px 0;
}

.team-row__card {
    max-width: 264px;
    width: 100%;
    margin-right: 31px;
    margin-top: 10px;
}

.team-card {
    max-width: 264px;
    width: 100%;
    max-height: 227px;
}

.team-row__card__text {
    background-color: #2e4a5b;
}

.team-card__name {
    font-size: 16px;
    color: white;
    padding: 17px 0px 13px 20px;
}

.team-card__job {
    font-size: 13px;
    color: #18cfab;
    padding: 3px 0px 17px 20px;
}

.team-row__card__contact {
    background-color: #2e4a5b;
    margin-right: 1px;
    max-width: 100%;
    width: 65px;
    max-height: 65px;
    margin-top: 1px;
}

.team-row__card__contacts {
    display: flex;
}

.facebook {
    font-weight: 400;
    padding: 23px;
    font-size: 25px;
    color: white;
}

.team-row__card:hover .team-card__job {
    color: #2e4a5b;
}

.team-row__card:hover .team-row__card__text {
    background-color:#18cfab ;
}

.team-row__card:hover .team-row__card__contact {
    background-color:#18cfab ;
}

.team-row__card:hover .team-row__card__header {
    background-color:black;
}

.team-row__card:hover .team-card {
    background-color:black;
    opacity: 0.7;
}

/*SEC12 creative-dz */

    .creative-dz_bg {
        max-width: 1900px;
        width: 100%;
        background: url(../images/bg-creative-dz.jpg) no-repeat center;
        background-size: cover;
    }

    .creative-dz {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .creative-dz__title1 {
        color: white;
        font-size: 47px;
        text-transform: uppercase;
        margin-top:121px;
    }
    
    .creative-dz__title2 {
        color: #18cfab;
        font-size: 47px;
        text-transform: uppercase;
        margin-top: 21px;
        margin-bottom: 100px;
    }

    .creative-dz__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 427px;
        margin-bottom: 0;
        padding: 0;
    }

    .creative-dz__list-item {
        color: white;
        line-height: 2.5em;
        list-style: none;
    }

    .check-icon {
        color: #18cfab;
        font-size: 19px;
        margin-right: 28px;
        margin-top: 15px;
    } 

    .btn-creative-dz {
        height: 60px;
        max-width: 166px;
        width: 100%;
        background-color: #18cfab;
        color: white;
        margin-top: 60px;
        text-transform: uppercase;
        border-radius: 5px;
        margin-bottom: 211px;
    }

    .btn-creative-dz:hover {
        box-shadow: 0px -4px 1px 0px white;
    }


    /*SEC12 keep-in-out */
    
    ::placeholder { /* Most modern browsers support this now. */
        color: #909;
     }
    
    .form-keep-in-out {
        width: 100%;
        max-width: 555px;
    }
    
    .keep-in-out__title {
        font-size: 36px;
        color: #4e4e4e;
    }
   
    .form-keep {
        border: 1px solid #d7e2e0;
        padding: 13px;
        margin-top: 15px;
        width: 100%;
        max-width: 555px;
    }

    .keep-form {
        padding: 0;
    }

    .keep-row {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .img-keep {
        display: block;
        width: 100%;
        max-height: 422px;
        height: 100%;
    }

    .btn-keep {
        width: 100%;
        margin-top: 20px;
        background-color: #18cfab;
        color: white;
    }


    /* Section 13 footer */

    .footer {
        display: flex;
        flex-direction: row;
    }
     
    .footer-bg {
        background-color: #1c2b33;
        max-width: 1900px;
        width: 100%;
    }
    
    .footer__logo {
        font-size: 40px;
        color: white;
        margin-top: 129px;
        margin-bottom: 29px;
    }

    .footer__logo1 {
        font-size: 40px;
        color: #18cfab;
    }
    
    .footer__ham__discription {
        font-size: 14px;
        color: #b2b2b2;
        width: 100%;
        max-width: 310px;
        line-height: 1.8em;
        margin-bottom: 103px;
    }
    
    .footer__contacts {
        font-size: 14px;
        color: #b2b2b2;
        margin: 0;
        line-height: 1.8em;
    }

    .footer__contacts__type {
        font-size: 16px;
        color: #b2b2b2;
        margin: 0;
        line-height: 1.8em;
    }

    #footer__type {
        margin-top: 33px;
    }

    .footer-recent-post__title {
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 47px;
        margin-top: 124px;
    }
    
    .footer-block {
        margin-left: 26px;
    }
    
    .recent-post__title {
        font-size: 16px;
        color: #18cfab ; 
    }

    .footer-recent-post__block {
        display: flex;
        flex-direction: row;
    }
    
    
    
    
    @media (max-width: 768px) {
    .creative-dz__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
    }
    
    .creative-dz__title2 {
        color: #18cfab;
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 21px;
        margin-bottom: 100px;
    }

    .creative-dz__title1 {
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        margin-top:121px;
    }

    .team-row__card__contact {
        background-color: #2e4a5b;
        margin-right: 1px;
        width: 100%;
        margin-top: 1px;
        display: flex;
        justify-content: center;
    }
    .team-row__card {
        width: 100%;
    }
    .team-card {
        width: 100%;
        max-width: 100%;
    }
    .team-row__card {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .creative-dz__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
        margin-left: 0;
    }
}  

@media (max-width: 576px) {
    .creative-dz__title1 {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        margin-top:121px;
    }
    
    .creative-dz__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
        margin-left: 0;
    }
    
    .creative-dz__title2 {
        color: #18cfab;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 21px;
        margin-bottom: 100px;
    }
    
    .team-row__card__contact {
        background-color: #2e4a5b;
        margin-right: 1px;
        width: 100%;
        margin-top: 1px;
        display: flex;
        justify-content: center;
    }
    .team-row__card {
        width: 100%;
    }
    .team-card {
        width: 100%;
        max-width: 100%;
    }
    .team-row__card {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .creative-dz__title1 {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        margin-top:121px;
    }
    
    .creative-dz__title2 {
        color: #18cfab;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 21px;
        margin-bottom: 100px;
    }
    
    .team-row {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .fanfacts-row {
        flex-wrap: wrap;
    }
    .fanfacts__card {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .team-row {
        flex-wrap: wrap;
    }
    .card-row {
        flex-wrap: nowrap;
    }
    .block-calendar {
        background-color: #203e38;
        width: 67px;
        height: 66px;
        position: absolute;
        left: 139px;
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .card-row {
        flex-wrap: wrap;
    }
    .block-calendar {
        background-color: #203e38;
        width: 67px;
        height: 66px;
        position: absolute;
        left: 183px;
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .img-block {
        margin-top: 25px;
    }
}

@media (max-width: 992px) {
    .creative-dz__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
        margin-left: 0;
    }
    .img-block {
        margin-top: 0px;
    }
    .text-creative {
        margin: 0px;
    }
}

@media (max-width: 768px) {
    .creative-dz__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
        margin-left: 0;
    }
    .btn-work1:hover .arrow-btn {
        content: '';
        border: 10px solid transparent;
        position: absolute;
        border-bottom: 10px solid #18cfab;
        position: absolute;
        left: 32px;
        top: 70px;
        transform: rotate(180deg);
    }
    .img-block {
        margin-top: 0px;
    }
    .text-creative {
        margin: 0px;
    }
    .title-creative {
        margin-top: 0px;
    }
}

@media (max-width: 576px) {
    .img-block {
        margin-top: 46px;
    }
    .text-creative {
        margin: 0px;
    }
    .title-creative {
        margin-top: 40px;
    }
    .text-creative {
        margin: 31px;
    }
}