body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

/* Section 1 */

.intro_head {
    background-color: #44433e;
    max-width: 1900px;
    width: 100%;
}

.logo_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 26px 0px 26px 0px;
}

.logo_hd {
    margin-left: 15px;
}

.logo_text {
    margin-left: 15px;
}

.head_sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu {

}

.nav_link {
    margin-right: 27px;
    text-decoration: none;
}

.navbar-collapse {
    justify-content: flex-end;
}

.bg-header {
    background-color: #44433e;
}

.nav-link {
    font-size: 10px;
    color: #b8b8b8;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #18cfab;
}

.logo_text {
    color: #ffffff;
    font-size: 30px;
}

.logo_text1 {
    color: #18cfab;
    font-size: 30px;
}

.navbar-dark .navbar-toggler {
    color: #b8b8b8;
    border-color: #b8b8b8;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #18cfab;
}